body {
    background-image: url(./confetti.jpg);
    text-align: center;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    margin:0;
}

header{
    background-color: rgb(204, 77, 8);
    width:100%;
}
h1{
  color: white;
}
div{
    background-color:rgb(127, 151, 187);
    display: block;
    border-radius: 8px;
    text-align: center;
    margin: 5%;
}
h4{
margin:0;
text-align: center;

}
.container{
    background-color: transparent;
}
h5{
    color:white;
    margin-top:3%;
    text-align: center;
    background:gray;
}
h6{
    color:white;
    margin: 0;
    text-align:center;
    padding:1%;
}
h2{
    background: white;
    border: 1px ridge orange;
}
